<div class = 'container'>

	<h4>Check Mission <%=@mission.title%></h4>
	<form action="/missions/<%=@mission.id%>" method = "post">
		<input type="hidden" name = "authenticity_token" value = "<%=form_authenticity_token%>">
		<input type="hidden" name = "_method" value = "patch">
		
		<input type="submit" value = "Update" class = "btn btn-success">
	</form>
</div>

<div class = 'view'>
	<% image_tag "frame-1.gif" %>
</div>